<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wisqutoes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.WisQutoes">
        <activity
            android:name=".Color_Create_Screen"
            android:exported="false" />
        <activity
            android:name=".Color_Selection_Picture"
            android:exported="false" />
        <activity
            android:name=".Background_page_screen"
            android:exported="false" />
        <activity
            android:name=".gallary_page"
            android:exported="false" />
        <activity
            android:name=".Background_picture"
            android:exported="false" />
        <activity
            android:name=".Select_Media_Activity"
            android:exported="false" />
        <activity
            android:name=".Search_Screen_Page"
            android:exported="false" />
        <activity
            android:name=".Setting_Screen"
            android:exported="false" />
        <activity
            android:name=".Picture_like"
            android:exported="false" />
        <activity
            android:name=".Loader_custom"
            android:exported="false" />
        <activity
            android:name=".Picture_Screen"
            android:exported="false" />
        <activity
            android:name=".SubQuotes_design"
            android:exported="false" />
        <activity
            android:name=".Category_screen"
            android:exported="false" />
        <activity
            android:name=".Quoyes_page"
            android:exported="false" />
        <activity
            android:name=".Create_page"
            android:exported="false" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>